body {
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin: 5%;
}
.header__logo img{
    width: 80%;
}

.header__logo {
    display: flex;
    justify-content: center;
}

.header__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5%;
    margin-right: auto;
}
.header__buttons-button {
    border-radius: 5px;
    width: 160px;
    height: 40px;
    cursor: pointer;
}

.main-wrapper {
    margin: 50px 5%;
}
.main__buttons {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.main-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    align-items: center;
}
.main__garage {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    height: 1000px;
}
.main__pagination {
    margin: 0;
    display: flex;
    flex-direction: row;
    column-gap: 2%;
}

.garage__head {
    color: rgb(94, 2, 2);
}
.garage__track {
    border-bottom: 5px dashed rgb(107, 1, 1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.garage__track__head {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
}

.garage__track__line {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.garage__track__line-vehicle {
    width: 100px;
    display: flex;
    flex-direction: column;
}
.drive_text {
    display: flex;
    flex-direction: row;
}

.broken, .finished {
    margin: 0;
    opacity: 0;
}

.garage__track__line-vehicle-img {
    width: 100%;
    align-self: flex-end;
}
.garage__track__line-finish {
    position: absolute;
    right: 165px;
    z-index: 10;
    align-self: end;
}

.garage__track__line__buttons-start, .garage__track__line__buttons-stop,
.garage__track__head__buttons-select, .garage__track__head__buttons-remove {
    width: 65px;
}

.garage__track__line__buttons, .garage__track__head__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 140px;
    height: fit-content;
}

.main__buttons__race-race, .main__buttons__race-reset {
    width: 80px;
    height: 30px;
}

.main__buttons__race-generate {
    width: 130px;
    height: 30px;
}

.button_pag {
    width: 70px;
    height: 30px;
    background-color: #b3b2b2;
}

.footer-info {
    height: 50px;
    margin: 5% 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #BF3030;
    color: #000;
    font-weight: 500;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.footer-git, .footer-p, .footer-rss {
    width: 33%;
}

.footer-rss {
    position: relative;
    height: 100%;
}

.footer-git {
    display: flex;
    flex-direction: row;
    color: #000;
    gap: 10px;
}

.footer-git a {
    text-decoration: none;
    color: #000;
}

#git-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#rss-img {
    position: absolute;
    right: 0;
    object-fit: cover;
    height: 100%;
    
}

#view_winners {
    display: none;
}

.winners_table {
    border: 2px;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse;
    text-align: center;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}

.winner-vehicle-img {
    width: 100px;
}

.winner_text h2 {
    margin: 0;
}

.winner_text {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: #BF3030;
    white-space: pre-line;
    text-align: center;
    font-weight: 600;
}

.main__garage_pagination_row {
    display: flex;
    flex-direction: row;
}

.button {
    font-weight: 600;
    color: #BF3030	;
    text-decoration: none;
    padding: 0.4em;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 0.2em rgba(0, 0, 0, .8);
    font-family: 'Ubuntu', sans-serif;
}

.button:hover {
    cursor: pointer;
    background-color: #BF3030;
    color: #000;
}