body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin: 5%;
}
.header__logo img{
    width: 80%;
}
.header__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5%;
    margin-right: auto;
}
.header__buttons-button {
    border-color: beige;
    border-radius: 5px;
    width: 160px;
    height: 40px;
    cursor: pointer;
    background-color: rgb(244, 248, 170);
}
.button:hover {
    border-color: green;
}
.main-wrapper {
    margin: 50px 5%;
}
.main__buttons {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.main-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    align-items: center;
}
.main__garage {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    height: 1150px;
}
.main__pagination {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    column-gap: 2%;
}

.garage__head {
    color: rgb(94, 2, 2);
}
.garage__track {
    border-bottom: 5px dashed rgb(107, 1, 1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.garage__track__head {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
}
.garage__track__head__buttons {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
}
.garage__track__line {
    display: flex;
    flex-direction: row;
}
.garage__track__line-vehicle {
    width: 100px;
    display: flex;
    flex-direction: column;
}
.drive_text {
    display: flex;
    flex-direction: row;
}

.broken, .finished {
    margin: 0;
    opacity: 0;
}

.garage__track__line-vehicle-img {
    width: 100%;
    align-self: flex-end;
}
.garage__track__line-finish {
    position: absolute;
    right: 200px;
    z-index: 10;
    align-self: end;
}
.garage__track__line__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 140px;
}
/* .garage__track__line__buttons-start, .garage__track__line__buttons-stop {
    width: 70px;
    height: 30px;
} */

.footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px auto;
    justify-content: space-around;

}
.footer__github {
    color: rgb(254, 5, 5);
}
.footer__github-a {
    text-decoration: none;
    color: rgb(41, 40, 40);
}
.footer__rsschool-img {
    width: 100px;
}

#biew_winners {
    display: none;
}

.winners_table {
    border: 2px;
}


